# Global
.DS_Store
.env*
!.env.example
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React (CRA 프로젝트가 my-app 폴더일 때)
my-app/node_modules/
my-app/build/
my-app/.env.local
my-app/.env.development.local
my-app/.env.test.local
my-app/.env.production.local

# Optional logs
my-app/logs/
logs/
*.log

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

